.trend {
	margin-left: 1.6rem;
	margin-bottom: 2.4rem;

	& .swiper {
		padding-right: 1.6rem;
	}
	& .swiper-slide {
		width: 24rem !important;
	}

	&__item {
		width: 100%;
		position: relative;
		border-radius: 8px;

		&-title {
			font-size: 1.5rem;
		}
	}

	&__image {
		border-radius: 8px;
	}

	&__description {
		position: absolute;
		bottom: 1.6rem;
		left: 1.6rem;
		font-size: 1.2rem;
		font-weight: 300;
	}

	&__detail {
		align-items: center;
		gap: 0.8rem;
		margin-bottom: 0.4rem;
	}

	&__icons {
		align-items: center;
		gap: 0.6rem;
	}
}

.bg {
	position: absolute;
	inset: 0;
	background: linear-gradient(
		to bottom,
		hsla(0, 0%, 100%, 0.01),
		hsla(0, 0%, 0%, 0.25)
	);
	border-radius: 8px;
}
