// reset css
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul {
	list-style: none;
}

#root,
#__next {
	isolation: isolate;
}

// common css
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

:root {
	--red: hsl(0, 97%, 63%);
	--dark-blue: hsl(223, 30%, 9%);
	--semi-dark-blue: hsl(223, 36%, 14%);
	--graysh-blue: hsl(223, 23%, 46%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: var(--dark-blue);
	color: var(--white);
}
